In [14]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df=pd.read_csv("stud.csv")

In [16]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
X=df.drop(columns=["math_score"],axis=1)

In [18]:
y=df["math_score"]

In [19]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [20]:
X

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [21]:
numeric_features=X.select_dtypes(exclude=object).columns
cate_fetures=X.select_dtypes(include=object).columns

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

scaler=StandardScaler()
encoder=OneHotEncoder()

preprocessor=ColumnTransformer([
    ("onehotencoding",encoder,cate_fetures),
    ("standisation",scaler,numeric_features)
])

X=preprocessor.fit_transform(X)

In [22]:
X.shape

(1000, 19)

In [23]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10,test_size=0.25)

In [24]:
X_train.shape ,X_test.shape

((750, 19), (250, 19))

In [26]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [29]:
from sklearn.metrics import r2_score,mean_absolute_error

In [27]:
models={
    "linear regression":LinearRegression(),
    "random forest":RandomForestRegressor(),
    "logistic regression":LogisticRegression(),
    "k neighbour":KNeighborsRegressor(),
    "svc":SVR(),
    "decision tree":DecisionTreeRegressor(),
    "ada boost":AdaBoostRegressor(),
    "gradient boost":GradientBoostingRegressor()
}

In [41]:
models_list=[]
r2_list=[]

for i in range(len(list(models.values()))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    models_list.append(list(models.keys())[i])
    r2_list.append(r2_score(y_test,y_pred))

    print(f"The performance of {list(models.keys())[i]}:")
    print(f"The r2_score is:{r2_score(y_test,y_pred)}.")
    print(f"The MEA is:{mean_absolute_error(y_test,y_pred)}")
    print("----------------------------------------------------------")
    print("----------------------------------------------------------")

The performance of linear regression:
The r2_score is:0.8532968475169329.
The MEA is:4.355337709192901
----------------------------------------------------------
----------------------------------------------------------
The performance of random forest:
The r2_score is:0.8241494325414183.
The MEA is:4.891793333333333
----------------------------------------------------------
----------------------------------------------------------
The performance of logistic regression:
The r2_score is:0.6941684662531031.
The MEA is:6.296
----------------------------------------------------------
----------------------------------------------------------
The performance of k neighbour:
The r2_score is:0.7739405322459392.
The MEA is:5.58
----------------------------------------------------------
----------------------------------------------------------
The performance of svc:
The r2_score is:0.8041319639289536.
The MEA is:4.986829272243544
----------------------------------------------------------
----------------------------------------------------------
The performance of decision tree:
The r2_score is:0.671585063875925.
The MEA is:6.528
----------------------------------------------------------
----------------------------------------------------------
The performance of ada boost:
The r2_score is:0.8016777129610415.
The MEA is:5.166844088507766
----------------------------------------------------------
----------------------------------------------------------
The performance of gradient boost:
The r2_score is:0.8496398075432839.
The MEA is:4.453826501612033
----------------------------------------------------------
----------------------------------------------------------

In [46]:
pd.DataFrame(list(zip(models_list,r2_list)), columns=["models_list", "r2_list"]).sort_values(by="r2_list", ascending=False)

           models_list   r2_list
0    linear regression  0.853297
7       gradient boost  0.849640
1        random forest  0.824149
4                  svc  0.804132
6            ada boost  0.801678
3          k neighbour  0.773941
2  logistic regression  0.694168
5        decision tree  0.671585

In [51]:
linear_model=LinearRegression(fit_intercept=True)
linear_model.fit(X_train,y_train)
y_pred=linear_model.predict(X_test)
score=r2_score(y_pred,y_test)*100
print(f"The score is:{score}.")

The score is:85.90146144066867.